.header {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #16181dbf
}

.header-nav {
  padding: 0.5em 0;
  transition: 0.5s;
  text-decoration: none;
  list-style: none;
}


.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
  padding: 0px;
}

.header-nav__link-container {
  display: flex;
  gap: 2rem;
}

.header-nav__menu-link-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  list-style: none;
}

.header-nav__menu-link-item {
  display: flex;
  text-decoration: none;
}

.title {
  margin: 0;
  text-align: center;
  text-shadow:
    0 0 1rem orangered,
    0 0 1.5rem orangered,
    0 0 2rem orangered;

  & a {
    all: unset;
    cursor: pointer;
  }
}

.img--border {
  border-radius: 5%;
}

.title--sm {
  font-size: 1rem;
}

.subtitle {
  color: orangered;
  margin: 0;
  text-align: center;
}

.subtitle--sm {
  font-size: 0.875rem;
  list-style: none;
}

.text {
  margin-bottom: 2rem;
  text-align: center;
}

.section {
  padding: 2.5rem 0;
}

.section--lg {
  padding: 5rem 0;
}

.hero {
  position: relative;
  min-height: 50vh;
}

.container {
  max-width: 1024px;
  padding: 0 1rem;
  margin: 0 auto;
}

.container--section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container--movie-detail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(220px, 100%));
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.card-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: none;
  box-shadow: 0 2px 4px orangered;
  padding: 1rem;
}

.card {
  position: relative;

  & .card__img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
  }

  & .card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    opacity: 0;
    transition: opacity 0.25s;
  }

  & .card__title {
    margin: 0;
    color: #f6f7f8;
    font-size: 1.25rem;
    text-align: center;
    text-shadow:
      0 0 0.5rem orangered,
      0 0 1rem orangered;
  }

  & .card__subtitle {
    margin: 0;
    color: #f6f7f8;
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 0.5rem orangered;
  }
}

.card:hover .card__overlay {
  opacity: 1;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #16181d80;
  opacity: 0;
  transition: opacity 0.25s;
}

.action {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  & button {
    all: unset;
    background-color: orangered;
    padding: 0.25em 1em;
    border-radius: 1rem;
    cursor: pointer;
    transition: filter 0.25s;

    &:hover {
      filter: brightness(1.25);
    }
  }
}

.img--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;

  & .list__item {
    display: flex;
    align-items: center;
    background-color: orangered;
    padding: 0.125em 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    list-style: none;
  }
}

.t-align-start {
  text-align: start;
}

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flexbox {
  display: flex;

}

.flexbox--header {

  align-items: center;
  justify-content: space-between;

}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.a-items-center {
  align-items: center;
}

.gap-6xs {
  gap: calc(var(--primary-element-spacing) * 0.125);
}

.gap-5xs {
  gap: calc(var(--primary-element-spacing) * 0.25);
}

.gap-4xs {
  gap: calc(var(--primary-element-spacing) * 0.375);
}

.gap-3xs {
  gap: calc(var(--primary-element-spacing) * 0.5);
}

.gap-2xs {
  gap: calc(var(--primary-element-spacing) * 0.625);
}

.gap-xs {
  gap: calc(var(--primary-element-spacing) * 0.75);
}

.gap-sm {
  gap: calc(var(--primary-element-spacing) * 0.875);
}

.gap-md {
  gap: var(--primary-element-spacing);
}

.color-primary {
  color: var(--primary-main-color);
}

.icon {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .md\:d-none {
    display: block;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.g-layout {
  display: grid;

}

.g-layout--1-1 {
  grid-template-columns: 100%;
  gap: 2rem;
}

.g-layout--1-1-1 {
  grid-template-columns: 1fr;
}

.g-layout--center {
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .g-layout--1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .g-layout--1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}